<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>88576790878-9tbqb8i8cvdtd7e76rkd8n9r59h0gs1k.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.88576790878-9tbqb8i8cvdtd7e76rkd8n9r59h0gs1k</string>
	<key>API_KEY</key>
	<string>AIzaSyDHmZexMN417cH95IxI_92Ggbax6t_ui40</string>
	<key>GCM_SENDER_ID</key>
	<string>88576790878</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.builtbyblank.Chitra-Vichitra</string>
	<key>PROJECT_ID</key>
	<string>chitra-vichitra</string>
	<key>STORAGE_BUCKET</key>
	<string>chitra-vichitra.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:88576790878:ios:5889e327e5ad55ac</string>
	<key>DATABASE_URL</key>
	<string>https://chitra-vichitra.firebaseio.com</string>
</dict>
</plist>